<td class="top-aligned">
	<b>{{ include.speakerA }}</b>{% if include.affiliationA %},
    <p>{{ include.affiliationA }}</p>{% endif %}
</td>
<td class="top-aligned">
	<b>{{ include.speakerB }}</b>{% if include.affiliationB %},
    <p>{{ include.affiliationB }}</p>{% endif %}
</td>
<td class="top-aligned">
	<b>{{ include.speakerC }}</b>{% if include.affiliationC %},
    <p>{{ include.affiliationC }}</p>{% endif %}
</td>
<td class="top-aligned">
	<b>{{ include.speakerD }}</b>{% if include.affiliationD %},
    <p>{{ include.affiliationD }}</p>{% endif %}
</td>
